/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  text-wrap: balance;
  font-weight: 500;
  margin: 0.35rem 0 0.5rem;
}
h1 {
  color: #e45858;
  font-size: 2rem;
}
img {
  max-width: 100%;
  object-fit: cover;
  height: 100%;
  width: 100%;
}
html {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}
:root {
  color-scheme: light dark;
  --fg: light-dark(#0a0a0a, #fff);
  --bg: light-dark(#fff, #212121);
}
/* elements */
body {
  padding: 0 1rem;
  color: var(--fg);
  background-color: var(--bg);
}
.full-screen {
  min-height: 100vh;
  min-height: 100svh;
  width: 100%;
}
.center {
  align-items: center;
  display: flex;
  justify-content: center;
}
.header {
  display: flex;
  flex-direction: column;
}
.logo {
  flex: 1;
  flex-direction: column;
  margin: 2rem 0rem;
}
.image {
  max-width: 200px;
  border-radius: 3rem;
  transform: translateX(-2px) rotate(-5deg);
  transition: all 200ms ease-in-out;
}
.image:hover {
  transform: translateX(-12px) translateY(-10px) rotate(-5deg);
  filter: drop-shadow(10px 10px 0px #e45858);
}
.description {
  max-width: 300px;
  text-wrap: balance;
}
.list {
  margin-bottom: 2rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 15rem;
}
.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.link {
  gap: 0.5rem;
  border-radius: 1rem;
  padding: 1em;
  text-decoration: none;
  transition: transform 150ms cubic-bezier(0, 0.2, 0.5, 3);
  font-weight: bolder;
}
.link:hover {
  transform: scale(1.02);
}
.text-center {
  text-align: center;
}
.github {
  background-color: #333;
  color: #fff;
}
.neocities {
  background-color: #f59c32;
  color: #0a0a0a;
}
.cv {
  background-color: #e45858;
  color: #0a0a0a;
}
