<nav class="n"><a class="nb"href="/"><img src="/u/p.jpg"/></a><div class="nm">
<a class="ni{{if a =="b"}} s{{/if}}"href="/b">blog</a>
<a class="ni{{if a =="p"}} s{{/if}}"href="/p">projects</a>
<a class="ni{{if a =="a"}} s{{/if}}"href="/a">about</a></div></nav>