<footer class="center footer">
  {# here is the footer, a very important part #}
  {# <p class="text-center">created with &#x2665;&#xfe0f; in 2025</p> #}
  <nav class="nav">
    <ul class="list">
      <li class="github">
        <a href="https://github.com/graefchen">
          Github
        </a>
      </li>
      <li class="neocities">
        <a href="https://graefchen.neocities.org/">
          Neocities
        </a>
      </li>
      <li class="tilde-town">
        <a href="https://tilde.town/~graefchen/">
          tilde.town
        </a>
      </li>
    </ul>
  </nav>
</footer>
