{% extends "base.html" %} {% block content %}
<header class="header">
  <figure class="logo center h-card">
    <img
      class="image u-photo interactable"
      src="assets/profile-picture.webp"
      alt="The image that graef uses as this profile picture."
      width="200"
      height="200"
    />
    <figcaption class="description text-center">
      <h1 class="p-nickname">graefchen</h1>
      <p>
        <span class="p-job-title">student</span> with an interest in
        archaeology, haikus, the small web, simple living,
        human-computer interaction &amp; <i>much more</i>
      </p>
    </figcaption>
  </figure>
</header>

<main class="folder">
  <ul class="list">
    <li>
      <a href="https://github.com/graefchen" class="flex-row link github interactable">
        Github
      </a>
    </li>
    <li>
      <a href="https://graefchen.neocities.org/" class="flex-row link neocities interactable">
        Neocities
      </a>
    </li>
    <li>
      <a href="https://tilde.town/~graefchen/" class="flex-row link tilde-town interactable">
        tilde.town
      </a>
    </li>
    <li>
      <a href="https://graefchen.github.io/dunkel.css/" class="flex-row link dunkel interactable">
        dunkel.css
      </a>
    </li>
  </ul>
</main>

<footer class="center footer">
  <p class="text-center">created with &#x2665;&#xfe0f; in 2025</p>
</footer>
{% endblock content %}
