{% extends "base.html" %} {% block content %}
{# Currently very much in the big rewrite, need to do more! #}
<header class="header">
  <figure class="logo center h-card">
    <img
      class="image u-photo"
      src="assets/profile-picture.webp"
      alt="The image that graef uses as this profile picture."
      width="200"
      height="200"
    />
    <figcaption class="description text-center">
      <h1 class="p-nickname">graefchen</h1>
      <p>
        <span class="p-job-title">student</span> with an interest in
        archaeology, haikus, the small web &amp; human-computer interaction
      </p>
    </figcaption>
  </figure>
</header>

<main class="center">
  {# TODO: (2026-06-27) Swap the following links out so they stay in the foooter #}
  <ul class="list">
    <li>
      <a href="https://github.com/graefchen" class="flex-row link github">
        Github
      </a>
    </li>
    <li>
      <a href="https://graefchen.neocities.org/" class="flex-row link neocities">
        Neocities
      </a>
    </li>
    <li>
      <a href="https://tilde.town/~graefchen/" class="flex-row link tilde-town">
        tilde.town
      </a>
    </li>
    <li>
      <a href="./m" class="flex-row link here">
        min
      </a>
    </li>
  </ul>
</main>
{% endblock content %}
