---
layout: layouts/b.vto
---

<header class="fs ic">
  <div class="l ic va">
    <h1>Could not find what you searched for.</h1>
    <h2><a href="/">return to home</a></h2>
    <figure class="tc">
      <img src="https://cataas.com/cat"alt="Not found">
      <figcaprion>To calm you down, there is a cute cat from
      <a href="https://cataas.com/"target="_blank">cataas.com</a>
      (they are cute)</figcaprion>
    </figure>
  </div>
</header>