---
layout: layouts/p.vto
a: a
---
<h1>about me</h1>
<h2>👋 Hey</h2>
<p>I am <b>graef</b>, <b>graefchen</b> or <b>Simon</b></p>
<ul>
  <li>🎉 I’m 25 years old</li>
  <li>🎓 I have an bachelor in CS</li>
  <li>🦴 I’m currenty studying 
    <a href="https://ufg.phil-fak.uni-koeln.de/en/" target="_blank">
    archaeology</a></li>
  <li>📖 & <a href="https://dh.phil-fak.uni-koeln.de/en/"target="_blank">
    computer linguistics</a></li>
  <li>📝 I’m currently learning 
    <i><a href="https://go.dev"target="_blank">Go</a></i> and
    <i><a href="https://github.com/kevinlawler/kona"target="_blank">k</a></i>
  </li>
  <li>🐈 I have 2 cat's (<i>Ticky</i> and <i>Tine</i>)</li>
  <!-- Maybe add two cute pictures of them later, or via hover(like Wikipedia) -->
</ul>
<p>You can find me on <a href="https://github.com/graefchen"target="_blank">github</a></p>
