---
layout: layouts/p.vto
a: a
---

<h1>about me</h1><h2>👋 Hey</h2><p>I am <strong>graef</strong>, <strong>
graefchen</strong> or <strong>Simon</strong></p><ul><li>🎉 I’m 24 years old</li>
<li>🎓 I have an bachelor of science in Computing Science</li><li>🦴 I’m currenty
studying archaeology</li><li>📖 & computer linguistics</li><li>🖌️ I’m interested
in UI and UX design</li><li>📝 I’m currently learning <i>CSS</i> and <i>Web Design
</i></li><li>🎨 I’m trying to do more <i>awesome CSS</i> projects</li><li>💾 I'm
a passionate Gamer</li><li>📊 I'm currently very interested in <i>Data
Visualisation</i><li>⛓️ & <a href="https://en.wikipedia.org/wiki/Array_programming">
array programming languages</a></li></li><ul><p></p>