---
layout: layouts/b.vto
---

<h1>👋 Hey!</h1>
<h1>I am <a href="https://github.com/graefchen">graef</a></h1>
<p>I am an programmer living in germany. I am currently studying computer
linguistics and archaeology.</p>
<p>I <strong>love</strong> Web design, programming, archaeology, <em>terse</em>
code &amp; Cats 🐈.
</p>
<h1>My Blog Post's:</h1>
<ul class="u">
{{for page of search.pages("type=post", "date=desc")}}
<li>
<a class="l" href="{{page.url}}">
<time datetime="{{ page.date |> date('DATETIME') }}">{{ page.date |> date('DATE') }}</time>
<span>{{ page.title || page.url }}</span>
</a>
</li>
{{/for}}
</ul>
