---
layout: layouts/b.vto
---

<div class="h fs fi"><div class="l ic va"><img id="i" src="u/p.jpg"/><h1>graef
</h1><span class="s"><i>developer, developer, developer</i></span><div class="b">
<p>👋 Hey!</p><p>I am an programmer living in germany. I am currently studying
computer linguistics and archaeology at the <a href="https://phil-fak.uni-koeln.de">
university of cologne</a>.</p><p>I love Web design, programming, archaeology,
terse code & cats 🐈.</p><nav class="ic"><a class="bt"href="/b">blog</a><a
class="bt" href="https://github.com/graefchen">github</a></nav></div></div></div>